<div class="container">
    <h3 class="text-center">{{title | titlecase}}</h3>
    <form #frm = "ngForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label for="firstName">Ism</label>
            <input ngModel required minlength="2" maxlength="11" name="firstName" #firstName="ngModel"
                (change)="onNameChange()" type="text" id="firstName" class="form-control">
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors?.required">Ism kirtish majburiy</div>
                <div *ngIf="firstName.errors?.minlength">Ism eng kamida {{firstName.errors?.minlength.requiredLength}} ta
                    harfdan iborat bo'lishi kerak</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input ngModel name="email" type="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="message">Sms</label>
            <textarea ngModel name="message" id="message" class="form-control"></textarea>
        </div>

        <div class="checkbox">
            <label for="">
                <input ngModel type="checkbox" name="isSubscribed"> Yangiliklarga azo bo'lish
            </label>
        </div>
        <!-- 
        <div class="radio">
            <label for="">
                <input ngModel type="radio" name="contactMethod" value="1"> E-mail
            </label>
        </div>

        <div class="radio">
            <label for="">
                <input ngModel type="radio" name="contactMethod" value="2"> Sms
            </label>
         </div>
        <div class="form-group">
            <label>boglanish usuli
            </label>
            <select ngModel name="contactMethod2" class="form-control">
                <option value="1">E-mail</option>
                <option value="2">Sms</option>
            </select>
        </div> -->
        <!-- bu kodimiz hard kod -->

        <div *ngFor = "let cmethod of contactMethod" class="radio">
            <label>
                <input ngModel type="radio" name="contactMethod" [value]="cmethod.type">
                {{cmethod.name}}
            </label>
        </div>

        <div class="form-group">
            <label>boglanish usuli
            </label>
            <select ngModel name="contactMethod2" class="form-control">
                <option *ngFor = "let cmethod2 of contactMethod2" [value]="cmethod2">{{cmethod2.name}}</option>
            </select>
        </div>

        <button class="btn btn-primary">save</button>
    </form>
</div>