<!-- Nav -->
<nav class="navbar navbar-expand-lg main-navbar bg-color main-navbar-color" id="main-navbar">
    <a href="#" class="navbar-brand text-white">b</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="myNav">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search snippets ...">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary" id="searchBtn" type="button">Search</button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div>
                            <a class="dropdown-item" routerLink="/hello">Hello world</a>
                            <a class="dropdown-item" routerLink="/pizza">Pizza</a>
                            <a class="dropdown-item" routerLink="/football">Football</a>
                            <a class="dropdown-item" routerLink="/shopping2">Shopping2 </a>
                            <a class="dropdown-item" routerLink="/cash">Cash</a>
                            <a class="dropdown-item" routerLink="/form-page">Form</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Nav -->

<hr>


<router-outlet></router-outlet>
